version: "3.9"

services:
  redis:
    image: redis:latest
    container_name: redis-server
    ports:
      - "6379:6379"
    restart: always

  app:
    build: .
    container_name: my-socket-app
    ports:
      - "4000:4000"
    environment:
      PORT: 4000
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis
    restart: always